@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 4444 -Test Mihye</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Mihye try building Web apps with ASP.NET Core</a>.</p>
</div>
